{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container-fluid">
  <br>
  <div class="row row-cols-1 row-cols-8 g-4 d-flex justify-content-center">
    <div class="col-10">
      <div class="card h-100 d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <img src="../static/images/image (17).jpg" style="width: 10rem;" class="card-img-top" alt="Image 1">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"> 30 Seconds </h5>
          <p class="card-text text-center">The idea of a 30-second interview doesn't mean that you are or will be interviewed for only 30 seconds. <br> Rather it refers to cases where you need to "sell" yourself in 30 seconds say to encourage an interviewer or client to set up a future meeting. <br>What would you say to capture their attention? <br>Sounds tough and is probably tougher in practice, but it can be done.<br>Tread carefully... This article is for asignment purposes</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row row-cols-1 row-cols-2 g-4 d-flex justify-content-center">
    <div class="col-6">
      <div class="card h-100">
        <div class="d-flex justify-content-center">
          <img src="../static/images/image (30).jpg" style="width: 18rem;" class="card-img-top" alt="Image 2">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">What to Do</h5>
          <p> <strong> Be Yourself.</strong> <br> You are either qualified or not. <br> Plus it would be nice working in a place that values your authentic self</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="d-flex justify-content-center">
          <img src="../static/images/image (4).jpg" style="width: 10rem;" class="card-img-top" alt="Image 3">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">What to Avoid</h5>
          <p class="card-text"><strong> Not being prepared.</strong> <br> We all love winning. <br>The worst feeling you can go home with is knowing you didn't put your best foot forward whether you get the job or not</p>
        </div>
      </div>
    </div>
  </div>

  <div  class="container text-center" id="particles-js">
    <span><a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a></span>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id ="cats" data-toggle="tab" href="#s&s">Short and Simple</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id ="cats" data-toggle="tab" href="#s&l">Story Line</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id ="cats"data-toggle="tab" href="#w&h">With Humour</a>
      </li>
    </ul>
    <div class="tab-content">
      <div  class="container tab-pane active" id="all"><br>
        {{ macro.display(pitches) }}
      </div>
      <div  class="container tab-pane fade" id="#s&s"><br>
        {{ macro.display(short_simple)}}
      </div>
      <div  class="container tab-pane fade" id="#s&l"><br>
        {{ macro.display(story_line) }}
      </div>
      <div  class="container tab-pane fade" id="w&h"><br>
        {{ macro.display(humour) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}