{% extends 'base.html'%}

{% block content %}

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-10 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">An attention-Grabbing Question</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-2 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">An attention-Grabbing Question</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">An attention-Grabbing Question</h5>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row row-cols-1 row-cols-lg-4 row-cols-2  g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">An Attention-Grabbing Question</h5>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Short and Sweet</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">A Customer Story</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Joke</h5>
        </div>
      </div>
    </div>
 
  </div>

</div>

{% endblock %}