{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-8 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> 30 Seconds </h5>
          <p class="card-text">The idea of a 30-second interview doesn't mean that you literally are interviewed for only 30 seconds. Instead, it covers situations where you meet potential employers, such as at career fairs or even while riding an elevator, and you only have 30 seconds to sell yourself and encourage them to set up a formal interview with you. Selling yourself in just 30 seconds is tough, but it can be done. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-2 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">What to Do</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">What to Avoid</h5>
          <p class="card-text">What to Avoid</p>
        </div>
      </div>
    </div>
  </div>

  <div  class="container text-center" id="particles-js">
    <span><a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a></span>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id ="cats" data-toggle="tab" href="#s&s">Short and Simple</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id ="cats" data-toggle="tab" href="#s&l">Story Line</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id ="cats"data-toggle="tab" href="#w&h">With Humour</a>
      </li>
    </ul>
    <div class="tab-content">
      <div  class="container tab-pane active" id="all"><br>
        {{ macro.display(pitches) }}
      </div>
      <div  class="container tab-pane fade" id="#s&s"><br>
        {{ macro.display(short_simple)}}
      </div>
      <div  class="container tab-pane fade" id="#s&l"><br>
        {{ macro.display(story_line) }}
      </div>
      <div  class="container tab-pane fade" id="w&h"><br>
        {{ macro.display(humour) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}