{% block content %}
<div>
  <h1>Humour Pitches</h1>
  <div>
    <div class="col-4" class="card">
      <div class="card-body">
        <p class="card-text">lllll</p>
        <p class="card-text">~uuuuuu</p>
      </div>
      <div class="card-footer">
        <div class="container-fluid" id="buttons">
          <i class="fa-solid fa-thumbs-up">6</i>
          <button class="btn btn-sm btn-danger" type="button"> <i class="fa-solid fa-thumbs-down" id="downvote"></i> 8 </button>
        </div> 
      </div>
    </div> 
  </div> 
</div>
{% endblock %}
  

