{% extends 'base.html'%}

{% block content %}

<div class="row d-flex justify-content-center" id="container1">
  <div class="col-6">
    <br>
    <div class="card bg-dark text-white">
      <img src="../static/images/image (6).jpg" class="card-img image6" alt="pg1-image">
      <div class="card-img-overlay">
        <br>
        <div class="card-header">
          <h1 class="card-title text-center"> <br><br> Get Interview Ready <br><br><br></h1>
        </div>
        <br>
        <div class="card-body">
        </div>
        <div class="card-footer d-flex justify-content-center">
          <a href="/categories/" class="btn btn-warning active" role="button" data-bs-toggle="button" aria-pressed="true">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}